body {
  margin: 0px;
  padding: 0px;
}


/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

/*---------------------------------------------------------*/

#opener {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
}

#nameside {
    width: 100%;
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: calc(1vh + 200px);
    height: 200px;
}

.title {
    font-family: gimlet-display,serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(40px + 0.2vw);
    margin: 0px;
}

.subtitle {
    font-family: roboto-slab,serif;
    font-weight: 300;
    font-style: normal;
    font-size: calc(18px + 0.2vw);
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.card {
  height: 100%;
  width: calc(100vw/4);
  margin: 0px;
  padding: 0px;
  opacity: 0;
}

.c1 {
  background-image: url('imgs/KaylaTalking.gif');
  background-size: cover;
  background-position: 50% 50%;
  background-color: #515A47;
}

.c2 {
  background-image: url('imgs/Simpleperksbanner.png');
  background-size: cover;
    background-position: 45% 50%;
  background-color: #48503F;
}

.c3 {
  background-image: url('imgs/project3KaylaWiggins.gif');
  background-position: 60% 30%;
  background-color: #3E4536;
}

.c4 {
  background-image: url('imgs/IMG_04331.jpeg');
  background-size: cover;
  background-position: 50% 70%;
  background-color: #33392d;
}



#focus {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
}

.plus {
  width: 5%;
  position: absolute;
  left: calc(50% - (5%/2));
  top: calc(50% - (5%/2));
}

.subtalk {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 60px;
      color: white;
      font-family: roboto;
      overflow: scroll;
}

.design {
  background-color: #515A47;
}

.media {
  background-color: #664F30;
}

.infodump {
  font-size: calc(16px + 0.2vw);
  text-align: center;
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
line-height: 30px;
letter-spacing: 1px;
}

@media screen and (max-width: 850px) {
  .infodump {
    font-size: calc(10px + 0.2vw);
    line-height: 15px;
  }

  .title {
      font-size: calc(35px + 0.2vw);
  }

  .subtitle {
      font-size: calc(15px + 0.2vw);
  }
}

#experience {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
  justify-content: center;
  align-items: center;
}

.work {
  font-family: gimlet-display,serif;
  font-weight: 700;
  font-style: normal;
  font-size: calc(40px + 0.2vw);
  margin: 0px 0px 60px 0px;
  text-align: center;
}

.content {
  height: 40%;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.description {
  width: 70%;
  height: 100%;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
line-height: 30px;
letter-spacing: 1px;
font-size: 15px;
    text-align: center;
        padding: 10px;
  overflow: scroll;
}

.topics {
  width: 30%;
  list-style-type: none;
  height: fit-content;
  border-left: 1px solid #7A4419;

}

li {
  font-family: gimlet-display,serif;
  font-weight: 400;
  font-style: normal;
  margin: 50px 0px;
  font-size: calc(18px + 0.2vw);
}

li:hover {
  color: #7A4419;
}

#designs {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
  margin: 100px 0px;
}

.words {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 20px;
  height: 100%;
}

.photo {
  width: 50%;
  height: 100%;
  background-image: url('imgs/perksblobs@2x.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.pop {}

.projName {
  font-family: industry-inc-base, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C043FE;
    font-size: 40px;
    margin: 50px 0px 0px 0px;
}

.projDes {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
line-height: 30px;
letter-spacing: 1px;
font-size: 15px;
overflow: scroll;

}

#media {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  background-color: white;
  position: relative;
  align-items: center;
}

.contentHolder {
  height: 80%;
  width: 100vw;
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}

.tile {
  width: 20%;
  height: 80%;
  box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.10);
  text-align: center;
  overflow: hidden;
}

.name {
  font-family: gimlet-display,serif;
  font-weight: 400;
  font-style: normal;
}

.talk {
  font-size: calc(10px + 0.2vw);
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 0px 10px;
}

.proof {
  width: 100%;
  height: 40%;
  background-size: cover;
  background-position: center;
  background-color:beige;
}

.leave:hover {
  color: #7A4419;
}

.leave {
  text-decoration: none;
  color: black;
}

button {
  width: 10%;
     height: 20%;
     background: transparent;
     border-radius: 8px;
     border-color: #7A4419;
     font-family: roboto-slab,serif;
     font-weight: 300;
     font-style: normal;
     margin-top: 15px;
}
